<div data-role="view" id="homeView" data-title="RegisterSuccess View" data-layout="default" data-model="app.registersuccessView" data-show="app.registersuccessView.onShow" data-after-show="app.registersuccessView.afterShow">
    <div class="alignment">
        <br>
        <br>
        <br>
        <br>
        <div class="alignment">
            <span class="pacifico">foodvite</span>
            <div class="alignment">
                <br>
                <br>Thanks for submitting your details.</div>
            <div class="alignment">
                Our representative will connect with you within 24 Hours.
            </div>
            <div class="alignment">
                <br>
                <br><a class="roboto" data-align="centre" data-role="button" href="components/home/view.html">Home</a>
            </div>
        </div>
    </div>
</div>