<div data-role="view" data-title="Orders" data-layout="main" data-model="app.ordersView" data-show="app.ordersView.onShow" data-after-show="app.ordersView.afterShow">
 <div data-role="header">
        <div data-role="navbar">
            Orders
            <a class="nav-button nav-button-back" data-align="left" data-role="button" href="components/settingsView/view.html">settings</a>
            <input type="checkbox" data-role="switch" data-enable="true" data-align="right" data-off-label="No" data-on-label="Yes"/>
        </div>
    </div>
    
    
    <a class="nav-button nav-button-icon nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
     <a class="nav-button" data-align="right" data-role="button" href="components/orderDetailsView/view.html">orderdetails</a>
    <!-- START_CUSTOM_CODE_ordersView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_ordersView -->
</div>