<div data-role="view" id="loginView" data-title="Login Form" data-layout="main-nonav" data-model="app.loginView" data-show="app.loginView.onShow" data-after-show="app.loginView.afterShow">
    <div data-role="header">
        <div data-role="navbar" class="roboto">
            Log in
            <img class="nav-button nav-button-icon nav-button-back" data-bind="events: { click: loginViewModel.cancel }" data-align="left" data-role="backbutton" src="icons/back.png" />
            <a class="nav-button-white" data-role="button" data-align="right" data-bind="events: { click: loginViewModel.submit }">Done</a>
        </div>
    </div>
    <div id="loginViewModel" class="form-view">
        <form>
            <br>
            <br><div class="alignment pacifico">foodvite</div>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <label>
                        <input data-bind="value: loginViewModel.fields.sellerEmail" type="email" placeholder="Email" required validationMessage="Email is required!">
                    </label>
                </li>
                <li>
                    <label>
                        <input data-bind="value: loginViewModel.fields.sellerPassword" type="password" placeholder="Password" required data-required-msg="You must confirm your password">
                    </label>
                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_loginViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_loginViewModel -->
    </div>
    <!-- START_CUSTOM_CODE_loginView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_loginView -->
</div>