<div data-role="view" id="accountsummaryView" data-title="Account Summary" data-layout="main" data-model="app.accountsummaryView" data-show="app.accountsummaryView.onShow" data-after-show="app.accountsummaryView.afterShow">
    <div data-role="header">
        <div data-role="navbar">
            Account Summary
            <img class="nav-button nav-button-back nav-button-icon" data-align="left" data-role="backbutton" src="icons/back.png" />
        </div>
    </div>
    <a id="register-submit" class="submit-button button-group" data-align="center" data-role="button">Daily Summary</a>
    <br>
    <br>
    <div id="accountsummaryView" class="form-view">
        <table id="accounts" style="width:100%" cellpadding="5">
        </table>
    </div>
    <br>
    <br>
    <a id="register-submit" class="submit-button button-group" data-align="center" data-role="button">Consolidated Summary</a>
    <br>
    <br>
    <div class="alignment">
        <label>
            <span>From </span>
            <input id="datepicker1" type="date" /> </label>
        <label>
            <span>To </span>
            <input id="datepicker2" type="date" />
        </label>
        <br>
        <br>
        <a id="register-submit" class="submit-button" data-align="center" data-role="button" data-bind="events: { click: registerViewModel.submit }">Submit</a>
    </div>
    <script id="template2" type="text/x-kendo-template">
        <div id="orderdetailsView" class="form-view">
            <tr>
                <td>No. of Orders</td>
                <td>#= totalOrders #</td>
            </tr>
            <tr>
                <td>Total Order Value</td>
                <td>$#= totalOrderValue #</td>
            </tr>
            <tr>
                <td>Joins</td>
                <td>#= joins #</td>
            </tr>
            <tr>
                <td>Commission</td>
                <td>$#= commission #</td>
            </tr>
            <tr>
                <td>Cancelled Orders</td>
                <td>#= cancelledOrder #</td>
            </tr>
    </script>
    <script>
        $(document).ready(function () {
            // create a template using the above definition
            var template = kendo.template($("#template2").html());
            var sellerId2 = localStorage.getItem('sellerId');
            var orders11=[];
            $.ajax({
                url: "http://sit.foodvite.co:8080/FVS/v1/dailyOrdersSummary",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    "sellerId": sellerId2
                }),
                dataType: "json",
                success: function (data) {
                    var ob = JSON.parse(JSON.stringify(data));
                    var totalOrders = ob.data["totalOrders"];
                    var totalOrderValue = ob.data["totalOrderValue"];
                    var joins = ob.data["joins"];
                    var commission = ob.data["commission"];
                    var cancelledOrder = ob.data["cancelledOrder"];
                }
            });
            var orders11 = [
                {
                    "totalOrders": 10,
                    "totalOrderValue": 100,
                    "joins": 12,
                    "commission": 20,
                    "cancelledOrder": 3
                }];
            
            var dataSource = new kendo.data.DataSource({
                data: orders11,
                change: function () { // subscribe to the CHANGE event of the data source
                    $("#accounts").html(kendo.render(template, this.view())); // populate the table
                }
            });
            dataSource.read();
        });
    </script>
    
    
    
    
    
    
    <div data-role="footer">
    </div>
    </div>