<div data-role="view" id="aboutfoodviteView" data-title="About Foodvite" data-layout="main" data-model="app.aboutfoodviteView" data-show="app.aboutfoodviteView.onShow" data-after-show="app.aboutfoodviteView.afterShow">
    <div data-role="header">
        <div data-role="navbar">
            About Foodvite
            <img id="back-button" class="nav-button nav-button-icon nav-button-back hide-text" data-align="left" data-role="backbutton" src="icons/back.png" />
        </div>
    </div>
    <div data-role="footer">
    </div>
</div>