<div data-role="view" id="homeView" class="alignment" data-layout="default" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div class="alignment">
        <br>
        <br>
        <br>
        <br>
        <div class="alignment">
            <span class="pacifico">foodvite</span>
            <div class="alignment">
                <br><br><span class="alignment">Welcome to <span class="pacifico-small">foodvite,</span></span>
            </div>
            <br><br><span>Increase your sales by inviting more customers.</span>
            <div class="alignment">
                <br><br><a class="roboto" data-align="centre" data-role="button" href="components/registerView/view.html">Register</a>
                <br><br><a class="nav-button alignment" data-align="right" data-role="button" href="components/loginView/view.html">login</a>
            </div>
        </div>
    </div>
</div>