<div data-role="view" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <link href="styles/homepage.css" rel="stylesheet">
    <br>
    <br>
    <br>
    <div class="general">
        <div class="foodvite-large">
            foodvite
        </div>
        <br>
        <br>
        <br>
        <p class="foodvite-small">
            Welcome to <span class="foodvite-small-pacifico">foodvite</span>
            <br>
            <br>
            <br> Increase your sales by reaching more customers.
        </p>
        <br>
        <br>
        <br>
        <br>
        <div class="button-group">
            <a data-role="button">Register</a>
        </div>
        <br>
        <a href="components/loginView/view.html" class="foodvite-small">Login</a>
    </div>
</div>