<div data-role="view" id="homeView" class="alignment" data-layout="default" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div class="alignment">
        <div class="alignment">
            <span class="pacifico">foodvite</span>
            <div class="alignment">
             <span class="alignment">Welcome to foodvite</span>
            </div>
            <div class="alignment">
                <a class="roboto" data-align="centre" data-role="button" href="components/registerView/view.html">Register</a>
                <br><a class="nav-button" data-align="right" data-role="button" href="components/loginView/view.html">login</a>
            </div>
        </div>
    </div>
</div>