<div data-role="view" id="notificationView" data-title="Notification" data-layout="main" data-model="app.notificationView" data-show="app.notificationView.onShow" data-after-show="app.notificationView.afterShow">
    <div data-role="header">
        <div data-role="navbar">
            Notification
            <img id="back-button" class="nav-button nav-button-icon nav-button-back hide-text" data-align="left" data-role="backbutton" src="icons/back.png" />
        </div>
    </div>
    <div data-role="footer">
    </div>
</div>