<div data-role="view" data-title="Settings" data-layout="main" data-model="app.settingsView" data-show="app.settingsView.onShow" data-after-show="app.settingsView.afterShow">
    <div data-role="header">
        <div data-role="navbar">
            <span class="foodvite-small">foodvite</span>
            <img class="nav-button nav-button-back nav-button-icon" data-align="left" data-role="backbutton" src="icons/back.png" />
            <a class="nav-button-white" data-role="button" data-align="right">Update</a>
        </div>
    </div>
    <div id="settingsViewModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <label>
                        <span class="foodvite-blue">Restaurant Name</span>
                    </label>
                </li>
                <li>
                    <label>
                       <span class="foodvite-blue">Email</span>
                    </label>
                </li>
                <li>
                    <label>
                        <span class="nav-button foodvite-blue" data-role="button" href="components/resetPasswordView/view.html">Change Password</span>
                    </label>
                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_settingsViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_settingsViewModel -->
    </div>
</div>